.orderMainBox{

    padding: 10px;
}
.OrderMainTable{
    width: fit-content;
    display:flex;
    align-content:center;
    flex-wrap: wrap;
    margin: auto;
    margin-top:60px;
}
.order-item-image{
    width: 100px;
    border: 1px solid red;
}
tr:hover {
    background-color: rgba(150, 212, 212, 0.4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  
tr{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.buttonOrderStatus:hover{
    color:white;

    background-color: rgb(214, 94, 94);
}

@media screen and (max-width:625px) and (min-width:400px) {
    .orderTable th:nth-child(3),.orderTable th:nth-child(5){
        display: none;
    }
    .orderTable td:nth-child(3),.orderTable td:nth-child(5){
        display: none;
    }
}
@media screen and (max-width:399px)  {
    .orderTable th:nth-child(3),.orderTable th:nth-child(4),.orderTable th:nth-child(5){
        display: none;
    }
    .orderTable td:nth-child(3),.orderTable td:nth-child(4),.orderTable td:nth-child(5){
        display: none;
    }
}