.main-box-window {
  
    width: 251px;
  height: 150px;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 15px;
  box-shadow: rgba(204, 204, 204, 0.15);
}
.vector {
    position: relative;
    left: 105px;
    /* right: 71.75%; */
    bottom: 27px;
    /* bottom: 79.94%; */
  height: 13.52px;
}
.perc-second{
    position: relative;
    left: 115px;
    /* bottom: 75%; */
    bottom: 35px;
    font-size: 15px;
}

.double-vector{
    position: relative;
    left: 145px;
    bottom: 90px;
}

@media screen  and (max-width:480px){

    .main-box-window{
        width:220px;
        height: 150px;
    }

}