.main-box-window {

  margin-top: 20px;
  width: 251px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.vectorBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media screen  and (max-width:480px){
    .main-box-window{
        padding: 15px;
    }

}

