
    .latest-main-box{
        background-color: white;
        margin: 7px 0;
        padding: 40px;

    }
    .latest-line{
        border: 1px solid #EEF0F2;
        margin: 7px;
        /* padding: 7px; */
    }
