.nav-main {
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-right {
  display: flex;
  gap: 20px;
}

.drawwer-button {
  display: none;
}
.Search-input::placeholder {
  color: grey;
}
@media screen and (max-width: 844px) {
  .Search-field {
    display: none;
  }
  .drawwer-button {
    display: block;
  }
}
