.icons{
    width: 50px;
    display: inline;
    height: 20px;
}

.sidebar-main{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

@media   (max-width:480px) {
    .sidebar-main{
        display:none
    }
}